<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-col">
        <h4>Дез Обработка</h4>
        <p>Профессиональная дезинсекция в Пензе и области. Холодный туман, препараты 4-го класса безопасности.</p>
      </div>
      <div class="footer-col">
        <h4>Услуги</h4>
        <a href="/uslugi/tarakany/">Тараканы</a>
        <a href="/uslugi/klopy/">Клопы</a>
        <a href="/uslugi/muravi/">Муравьи</a>
        <a href="/uslugi/blohi/">Блохи</a>
        <a href="/uslugi/kleshchi/">Клещи</a>
        <a href="/uslugi/muhi/">Мухи</a>
        <a href="/uslugi/gryzuny/">Грызуны</a>
      </div>
      <div class="footer-col">
        <h4>Информация</h4>
        <a href="/blog/">Блог</a>
        <a href="/faq/">FAQ</a>
        <a href="/contacts/">Контакты</a>
        <a href="/privacy/">Политика конфиденциальности</a>
      </div>
      <div class="footer-col">
        <h4>Контакты</h4>
        <a href="tel:+78412XXXXXXX" class="footer-phone">+7 (8412) XX-XX-XX</a>
        <a href="mailto:info@dez-obrabotka.pro">info@dez-obrabotka.pro</a>
        <p>Пенза и Пензенская область</p>
      </div>
    </div>
    <div class="footer-bottom">
      © {{ 'now' | date: "%Y" }} Дез Обработка. Все права защищены.
    </div>
  </div>
</footer>
